In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('Advertising.csv', index_col=0)

In [8]:
df.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [11]:
df.groupby(df['TV'] > 100).count()

        TV  radio  newspaper  sales
TV
False   70     70         70     70
True   130    130        130    130

In [12]:
df.groupby(df['TV'] > 100)['TV'].count()

TV
False     70
True     130
Name: TV, dtype: int64

In [13]:
dict(df.groupby(df['TV'] > 100)['TV'].count())

{False: 70, True: 130}

## Select in Spark

In [14]:
df[df['TV'] > 100]

        TV  radio  newspaper  sales
1    230.1   37.8       69.2   22.1
4    151.5   41.3       58.5   18.5
5    180.8   10.8       58.4   12.9
8    120.2   19.6       11.6   13.2
10   199.8    2.6       21.2   10.6
..     ...    ...        ...    ...
194  166.8   42.0        3.6   19.6
195  149.7   35.6        6.0   17.3
198  177.0    9.3        6.4   12.8
199  283.6   42.0       66.2   25.5
200  232.1    8.6        8.7   13.4

[130 rows x 4 columns]

In [15]:
df[df['TV'] > 100]['TV']

1      230.1
4      151.5
5      180.8
8      120.2
10     199.8
       ...
194    166.8
195    149.7
198    177.0
199    283.6
200    232.1
Name: TV, Length: 130, dtype: float64